div,
input,
textarea,
button {
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: helvetica;
  margin: 0;
  padding: 0;
}
.faq {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.faqList {
  list-style-type: none;
  padding-left: 0;
  &__element {
    margin: 10px 0;
    border: 1px solid #a0a0a0;
    border-radius: 5px;
  }
  &__elementContent {
    &--question {
      background-color: cyan;
      padding: 10px;
      border-bottom: 1px solid #a0a0a0;
      color: blue;
    }
    &--answer {
      overflow: hidden;
      height: 0;
    }
    &--tick {
      float: right;
      padding: 0 10px;
      cursor: pointer;
    }
  }
}
.show {
  padding: 10px;
  height: auto;
}
